@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Bungee");;
$main-font: 'Lobster', LtBrown, serif;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #1C6EA4;
  background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
  background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
  background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
  font-family: $main-font;
}

.twitch-logo{
  text-align: center;
  margin-top: 20px;

  img {
    width: 500px;
  }
}

.hidden {
  display: none;
}

.title {
  text-align: center;
  font-size: 3em;
}

.content {
  text-align: center;
}

.buttons {
  text-align: center;
  margin-bottom: 5px;

  .btn {
    color: rgb(255, 255, 255);
    font-size: 21px;
    line-height: 21px;
    padding: 15px;
    border-radius: 9px;
    font-family: 'Bungee', LtBrown, serif;;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;

    &:hover {
      background: #1C6EA4;
      cursor: pointer;
    }

    &:active {
      background: #144E75;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  .content {
    border: 2px solid #4A20D4;
    width: 500px;
    height: auto;
    border-bottom: #FFFFFF;

    &:hover {
      opacity: 0.6;
    }

    a {
      text-decoration: none;
      display: inline-block;
      margin-top: 5px;

      &:hover {
        cursor: pointer;
      }
      &:visited{
        color: inherit;
      }
      &:active{
        color:inherit;
      }
    }

    img {
      width: 68px;
      height: 68px;
    }

    .logo {
      img {
        float: left;
      }
    }

    .online-status-logo {
      img {
        float: right;
      }
    }

    .offline-status-logo {
      img {
        float: right;
      }
    }

    .status {
      margin-bottom: 0;
    }
  }

  .online {
    background-color: #44D449;
    order: -1;
  }

  .offline {
    background-color: #D44D24;
  }
}
